@import 'reset';

body {
    font-size: 16px;
    background-color: #f3f3f3f8;
    font-family: 'Sriracha', cursive;
}

#page {
    width: 100%;
    height: 100vh;
    background-image: url(./css-image/backy.jpg);
    background-size: cover;
    background-position: center;
}

/*--------------Header Codes------------------------------*/
#header {
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menu {
        display: flex;
        align-items: center;
        justify-content: end;
        height: 10vh;
        width: 100%;
        font-size: 1.2rem;

        .nav-link {
            color: #C94A90;
            font-size: 1.1vw;
            font-weight: 500;
            margin-left: 0.4rem;
        }

        .nav-link:hover {
            background-color: #f8f8f8f8;
            border: 2px solid #C94A90;
            color: #C94A90;
            font-weight: 500;
            border-radius: 0.6rem;
        }

        #page-act {
            border: 2px solid #C94A90;
            opacity: 0.2;
            border-radius: 0.6rem;
        }
    }
}

/*--------------Header Codes------------------------------*/




/*--------------Main Codes------------------------------*/

.main {
    width: 100%;
    height: 90vh;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    color: #C94A90;
    overflow: hidden;

    .right-side {

        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30%;
    }

    h1 {
        animation: bigtext 2s linear;
    }

    .btn {
        font-size: 0.8rem;
        width: 8rem;
        height: 2rem;
        background-color: #C94A90;
        color: #ffffff;
        margin-bottom: 0.5rem;
        font-weight: 500;
        animation: centerbutton 2s linear;

    }

    .btn:hover {
        width: 8rem;
        height: 2rem;
        background-color: #ffffff;
        border: 1px solid #C94A90;
        color: #C94A90;
        font-weight: 700;

    }

    .social {
        display: flex;
        align-items: center;
        justify-content: center;

        .facebook {
            width: 2rem;
            margin: 0 0.5vw;
            animation: facemove 2s linear;
        }

        .whatsapp {
            width: 2rem;
            margin: 0 0.5vw;
            animation: whmove 2s linear;
        }

        .instagram {
            width: 2rem;
            margin: 0 0.5vw;
            animation: insmove 2s linear;
        }

        .facebook:hover,
        .whatsapp:hover,
        .instagram:hover {

            opacity: 0.5;
        }
    }

}

/*--------------Main Codes------------------------------*/



/*--------------Keyframes------------------------------*/
@keyframes bigtext {
    from {
        transform: translateX(50%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes centerbutton {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes facemove {

    from {
        transform: rotate(0deg) translateX(150px);
        bottom: 5%;
    }

    to {
        transform: rotate(360deg) translateX(0);
    }

}

@keyframes whmove {

    from {
        transform: rotate(0deg) translateX(-150px);
        bottom: 5%;
    }

    to {
        transform: rotate(360deg) translateX(0);
    }

}

@keyframes insmove {

    from {
        transform: rotate(0deg) translateY(150px);
        bottom: 5%;
    }

    to {
        transform: rotate(360deg) translateX(0);
    }

}

/*--------------Keyframes------------------------------*/



/*--------------Media Queries------------------------------*/

@media screen and (max-width: 768px) {

    #page {

        height: auto;
    }

    #header {
        display: grid;
        height: 20vh;
        grid-template-columns: 1fr;

        #menu {

            display: flex;
            align-items: center;
            justify-content: center;

            .nav-link {
                font-size: 2vw;
            }

        }


    }

    .main {
        height: 80vh;
    }

}


@media screen and (max-width: 576px) {

    #page {

        height: auto;
    }

    #header {
        display: grid;
        height: 20vh;
        grid-template-columns: 1fr;

        #menu {
            display: flex;
            align-items: center;
            justify-content: center;
            
            .nav{
       
                display: flex;
                align-items: center;
                justify-content: center;

            }
            .nav-link {
                font-size: 3vw;
            }

        }


    }

    .main {
        height: 80vh;

    }

}

/*--------------Media Queries------------------------------*/