* {
  margin: 0;
  padding: 0;
  text-indent: 0;
  outline: 0;
  border: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

p {
  padding: 1rem;
  line-height: 1.6;
  letter-spacing: 0.08rem;
  overflow: hidden;
  font-size: 1rem;
}

ol,
ul {
  list-style: none;
}

body {
  font-size: 16px;
  background-color: #f3f3f3f8;
  font-family: 'Sriracha', cursive;
}

#page {
  width: 100%;
  height: 100vh;
  background-image: url(./css-image/backy.jpg);
  background-size: cover;
  background-position: center;
}

/*--------------Header Codes------------------------------*/
#header {
  width: 100%;
  height: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

#header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 10vh;
  width: 100%;
  font-size: 1.2rem;
}

#header #menu .nav-link {
  color: #C94A90;
  font-size: 1.1vw;
  font-weight: 500;
  margin-left: 0.4rem;
}

#header #menu .nav-link:hover {
  background-color: #f8f8f8f8;
  border: 2px solid #C94A90;
  color: #C94A90;
  font-weight: 500;
  border-radius: 0.6rem;
}

#header #menu #page-act {
  border: 2px solid #C94A90;
  opacity: 0.2;
  border-radius: 0.6rem;
}

/*--------------Header Codes------------------------------*/
/*--------------Main Codes------------------------------*/
.main {
  width: 100%;
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  color: #C94A90;
  overflow: hidden;
}

.main .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30%;
}

.main h1 {
  -webkit-animation: bigtext 2s linear;
          animation: bigtext 2s linear;
}

.main .btn {
  font-size: 0.8rem;
  width: 8rem;
  height: 2rem;
  background-color: #C94A90;
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-weight: 500;
  -webkit-animation: centerbutton 2s linear;
          animation: centerbutton 2s linear;
}

.main .btn:hover {
  width: 8rem;
  height: 2rem;
  background-color: #ffffff;
  border: 1px solid #C94A90;
  color: #C94A90;
  font-weight: 700;
}

.main .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .social .facebook {
  width: 2rem;
  margin: 0 0.5vw;
  -webkit-animation: facemove 2s linear;
          animation: facemove 2s linear;
}

.main .social .whatsapp {
  width: 2rem;
  margin: 0 0.5vw;
  -webkit-animation: whmove 2s linear;
          animation: whmove 2s linear;
}

.main .social .instagram {
  width: 2rem;
  margin: 0 0.5vw;
  -webkit-animation: insmove 2s linear;
          animation: insmove 2s linear;
}

.main .social .facebook:hover,
.main .social .whatsapp:hover,
.main .social .instagram:hover {
  opacity: 0.5;
}

/*--------------Main Codes------------------------------*/
/*--------------Keyframes------------------------------*/
@-webkit-keyframes bigtext {
  from {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes bigtext {
  from {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes centerbutton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes centerbutton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes facemove {
  from {
    -webkit-transform: rotate(0deg) translateX(150px);
            transform: rotate(0deg) translateX(150px);
    bottom: 5%;
  }
  to {
    -webkit-transform: rotate(360deg) translateX(0);
            transform: rotate(360deg) translateX(0);
  }
}

@keyframes facemove {
  from {
    -webkit-transform: rotate(0deg) translateX(150px);
            transform: rotate(0deg) translateX(150px);
    bottom: 5%;
  }
  to {
    -webkit-transform: rotate(360deg) translateX(0);
            transform: rotate(360deg) translateX(0);
  }
}

@-webkit-keyframes whmove {
  from {
    -webkit-transform: rotate(0deg) translateX(-150px);
            transform: rotate(0deg) translateX(-150px);
    bottom: 5%;
  }
  to {
    -webkit-transform: rotate(360deg) translateX(0);
            transform: rotate(360deg) translateX(0);
  }
}

@keyframes whmove {
  from {
    -webkit-transform: rotate(0deg) translateX(-150px);
            transform: rotate(0deg) translateX(-150px);
    bottom: 5%;
  }
  to {
    -webkit-transform: rotate(360deg) translateX(0);
            transform: rotate(360deg) translateX(0);
  }
}

@-webkit-keyframes insmove {
  from {
    -webkit-transform: rotate(0deg) translateY(150px);
            transform: rotate(0deg) translateY(150px);
    bottom: 5%;
  }
  to {
    -webkit-transform: rotate(360deg) translateX(0);
            transform: rotate(360deg) translateX(0);
  }
}

@keyframes insmove {
  from {
    -webkit-transform: rotate(0deg) translateY(150px);
            transform: rotate(0deg) translateY(150px);
    bottom: 5%;
  }
  to {
    -webkit-transform: rotate(360deg) translateX(0);
            transform: rotate(360deg) translateX(0);
  }
}

/*--------------Keyframes------------------------------*/
/*--------------Media Queries------------------------------*/
@media screen and (max-width: 768px) {
  #page {
    height: auto;
  }
  #header {
    display: -ms-grid;
    display: grid;
    height: 20vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #header #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header #menu .nav-link {
    font-size: 2vw;
  }
  .main {
    height: 80vh;
  }
}

@media screen and (max-width: 576px) {
  #page {
    height: auto;
  }
  #header {
    display: -ms-grid;
    display: grid;
    height: 20vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #header #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header #menu .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header #menu .nav-link {
    font-size: 3vw;
  }
  .main {
    height: 80vh;
  }
}

@media screen and (min-width: 1440px) {
  .nav-link {
    font-size: 0.9vw !important;
  }
}

/*--------------Media Queries------------------------------*/
/*# sourceMappingURL=style.css.map */