* {
  margin: 0;
  padding: 0;
  text-indent: 0;
  outline: 0;
  border: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

p {
  padding: 1rem;
  line-height: 1.6;
  letter-spacing: 0.08rem;
  overflow: hidden;
  font-size: 1rem;
}

ol,
ul {
  list-style: none;
}

body {
  background-color: #f3f3f3f8;
}

#page {
  background-image: url(./css-image/backy.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/*--------------Header Codes------------------------------*/
#header-row {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header-cont {
  width: 100%;
  height: 10vh;
}

.nav-link {
  color: #C94A90;
  font-size: 1.2vw;
  font-weight: 600;
}

.nav-link:hover {
  background-color: #C94A90;
  border-radius: 5%;
  color: #ffffff;
  font-weight: 500;
}

/*--------------Header Codes------------------------------*/
/*--------------Main Codes------------------------------*/
#main {
  width: 100%;
  height: 100%;
  margin-top: 3.5rem;
  overflow: hidden;
}

#main-div {
  height: 25rem;
  color: #C94A90;
}

#rightside {
  position: relative;
  height: auto;
  margin-top: 3.5rem;
}

#leftside {
  height: auto;
}

.btn-div {
  background-color: #C94A90;
  color: #ffffff;
}

.btn:hover {
  background-color: #ffffff;
  border: 1px solid #C94A90;
  color: #C94A90;
  font-weight: 700;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.facebook {
  width: 2.5rem;
  -webkit-animation: facemove 3s linear;
          animation: facemove 3s linear;
  opacity: 0.5;
  margin-right: 0.7rem;
}

.whatsapp {
  width: 2.5rem;
  -webkit-animation: whmove 3s linear;
          animation: whmove 3s linear;
  opacity: 0.5;
  margin-right: 0.7rem;
}

.instagram {
  width: 2.5rem;
  -webkit-animation: insmove 3s linear;
          animation: insmove 3s linear;
  opacity: 0.5;
  margin-right: 0.7rem;
}

.facebook:hover,
.whatsapp:hover,
.instagram:hover {
  opacity: 1;
}

@-webkit-keyframes facemove {
  from {
    -webkit-transform: rotate(0deg) translateX(150px);
            transform: rotate(0deg) translateX(150px);
    bottom: 5%;
  }
  to {
    -webkit-transform: rotate(360deg) translateX(0);
            transform: rotate(360deg) translateX(0);
  }
}

@keyframes facemove {
  from {
    -webkit-transform: rotate(0deg) translateX(150px);
            transform: rotate(0deg) translateX(150px);
    bottom: 5%;
  }
  to {
    -webkit-transform: rotate(360deg) translateX(0);
            transform: rotate(360deg) translateX(0);
  }
}

@-webkit-keyframes whmove {
  from {
    -webkit-transform: rotate(0deg) translateX(-150px);
            transform: rotate(0deg) translateX(-150px);
    bottom: 5%;
  }
  to {
    -webkit-transform: rotate(360deg) translateX(0);
            transform: rotate(360deg) translateX(0);
  }
}

@keyframes whmove {
  from {
    -webkit-transform: rotate(0deg) translateX(-150px);
            transform: rotate(0deg) translateX(-150px);
    bottom: 5%;
  }
  to {
    -webkit-transform: rotate(360deg) translateX(0);
            transform: rotate(360deg) translateX(0);
  }
}

@-webkit-keyframes insmove {
  from {
    -webkit-transform: rotate(0deg) translateY(150px);
            transform: rotate(0deg) translateY(150px);
    bottom: 5%;
  }
  to {
    -webkit-transform: rotate(360deg) translateX(0);
            transform: rotate(360deg) translateX(0);
  }
}

@keyframes insmove {
  from {
    -webkit-transform: rotate(0deg) translateY(150px);
            transform: rotate(0deg) translateY(150px);
    bottom: 5%;
  }
  to {
    -webkit-transform: rotate(360deg) translateX(0);
            transform: rotate(360deg) translateX(0);
  }
}

/*--------------Main Codes------------------------------*/
/*# sourceMappingURL=style.css.map */