* {
  margin: 0;
  padding: 0;
  text-indent: 0;
  outline: 0;
  border: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

p {
  padding: 1rem;
  line-height: 1.6;
  letter-spacing: 0.08rem;
  overflow: hidden;
  font-size: 1rem;
}

ol,
ul {
  list-style: none;
}

body {
  font-size: 16px;
  background-color: #f3f3f3f8;
  font-family: 'Sriracha', cursive;
}

#page {
  width: 100%;
  height: 100vh;
  background: #cbd7d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#cbd7d7), to(#f8f8f8));
  background: linear-gradient(180deg, #cbd7d7 0%, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cbd7d7",endColorstr="#f8f8f8",GradientType=1);
}

/*--------------Header Codes------------------------------*/
#header {
  width: 100%;
  height: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

#header .logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 10vh;
  width: 100%;
  font-size: 1.2rem;
}

#header #menu .nav-link {
  color: #C94A90;
  font-size: 1.1vw;
  font-weight: 500;
  margin-left: 0.4rem;
}

#header #menu .nav-link:hover {
  background-color: #f8f8f8f8;
  border: 2px solid #C94A90;
  color: #C94A90;
  font-weight: 500;
  border-radius: 0.6rem;
}

#header #menu #page-act {
  border: 2px solid #C94A90;
  opacity: 0.2;
  border-radius: 0.6rem;
}

/*--------------Header Codes------------------------------*/
/*--------------Main Codes------------------------------*/
.main {
  width: 100%;
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  overflow: hidden;
}

.main * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .img-box1 {
  padding: 1rem;
  min-width: 60%;
  max-width: 80%;
  min-height: 60%;
  max-height: 100%;
  -webkit-animation: box1 1s linear;
          animation: box1 1s linear;
}

@-webkit-keyframes box1 {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes box1 {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.main .img-box2 {
  padding: 1rem;
  min-width: 60%;
  max-width: 80%;
  min-height: 60%;
  max-height: 100%;
  -webkit-animation: box2 1s linear;
          animation: box2 1s linear;
}

@-webkit-keyframes box2 {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes box2 {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.main .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .center * {
  margin: 0.5vw 0;
}

.main .center .box-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  height: 10%;
  background: rgba(237, 237, 237, 0.2);
  border: 0.13rem solid rgba(201, 74, 144, 0.5);
  border-radius: 2.5rem;
}

.main .center .box-b {
  width: 80%;
  height: 20%;
  background: rgba(237, 237, 237, 0.2);
  border: 0.13rem solid rgba(201, 74, 144, 0.5);
  border-radius: 2.5rem;
}

.main .center .box-b p {
  text-align: center;
  font-size: 1.3vw;
}

.main .center .box-b h5 {
  margin-top: 0.8rem;
  margin-bottom: 0;
  font-size: 1.4vw;
}

.main .center .box-c {
  width: 80%;
  height: 40%;
  background: rgba(237, 237, 237, 0.2);
  border: 0.13rem solid rgba(201, 74, 144, 0.5);
  border-radius: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(./img/map.png);
  background-size: cover;
  background-position: center;
}

.main .center .box-c a {
  padding: 0.8rem;
  margin: 0.3rem;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=contactstyle.css.map */